<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="KandjiAssesmentSmoke" parallel="false">

    <test name="SmokeSuite">
        <classes>
            <class name="KadjiSmokeTest.DevicesPageContentTest"/>
            <class name="KadjiSmokeTest.LoginLogoutTest"/>
        </classes>
    </test>

</suite>