<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="KandjiAssesmentSmoke" parallel="false">

    <test name="SmokeSuite">
        <classes>
            <class name="KandjiSmokeTest.LoginLogoutTest"/>
            <class name="KandjiSmokeTest.DevicesPageContentTest"/>

        </classes>
    </test>

</suite>